
    <title>Orçamento Enviado com Sucesso</title>

    <form action="/formulario" id="form" method="post" class="text-center p-2">
    <h1 class="d-flex justify-content-center text-center">ORÇAMENTO ENVIADO COM SUCESSO</h1>
    <p class="d-flex justify-content-center text-center">Obrigado por enviar sua solicitação de orçamento. Entraremos em contato com você em breve.</p>
    <p>Se preferir entre em contato conosco pelo WhatsApp</p>
    <div>
     <ul id="redes" class="p-2">            
            <a aria-label="Chat on WhatsApp" href="https://wa.me/5571988765044"><img alt="WhatsApp"
            src="/IMG/whatsapp.PNG" /></a><br>
            WhatsApp: <a href="https://wa.me/5571988765044" target="_blank">+55 71 98876-5044</a> <br>
    </ul>
    </div>
    <div class="d-flex justify-content-center text-center">
        <a href="/" class="btn btn-primary">Voltar para Home</a>
    </div>