<h1 class="text-outline">Nossos Serviços</h1>

    <form action="/servicos" id="form" method="post" class="text-center p-2">

    <h2 class="text-outline"> Distribuição de Produtos</h2> 
    <div class="service">
         <a href="/distribuicao-produtos">
            <img src="/IMG/distribuicao-produtos.png" alt="Distribuição de Produtos" class="service-image">
         </a>
    </div>
    

    <h2 class="text-outline">Mudanças Empresariais</h2>
     <div class="service">
        <a href="/mudancas-empresariais">
          <img src="/IMG/mudancas-empresariais.jpeg" alt="Mudanças Empresariais" class="service-image">
        </a>
    </div>

    <h2 class="text-outline">Mudanças Residenciais</h2>
      <div class="service">
        <a href="/mudancas-residenciais">
            <img src="/IMG/mudanca-residenciais.png" alt="Mudanças Residenciais" class="service-image">
        </a>
    </div>

    <h2 class="text-outline">Coleta(s) e Entrega(s) de Carga(s)</h2>
    <div class="service">
        <a href="/coleta-entrega-carga">
            <img src="/IMG/coleEnt.png" alt="Coleta e Entrega de Carga" class="service-image">
        </a>
    </div>

    <h2 class="text-outline">Desmontagem e Montagem de Móveis</h2>
     <div class="service">
        <a href="/desmontagem-montagem-moveis">
            <img src="/IMG/desmontagem-montagem-moveis.webp" alt="Desmontagem e Montagem de Móveis" class="service-image">
        </a>
    </div>

    <h2 class="text-outline">Logística</h2>
     <div class="service">
        <a href="/logistica">
            <img src="/IMG/logistica.png" alt="Logística" class="service-image">
        </a>
    </div>
            <!-- Adicione imagens  -->