 <h1 class="text-outline">Sobre Nós</h1>
       <form action="/sobre" id="form" method="post" class="text-center p-2">
       
        <div class="content">
            <p class="text-outline">Somos a Transportadora RayLog, especializada em soluções logísticas em toda Bahia para empresas e residências. Desde 2021, oferecemos serviços de coleta e entrega, distribuição, mudanças empresariais e residenciais, montagem e desmontagem de móveis, e muito mais.</p>
            <p class="text-outline">Nossa equipe altamente qualificada está comprometida em oferecer serviços de alta qualidade, seguros e confiáveis, atendendo às necessidades de nossos clientes em cada etapa do processo.</p>
            <p class="text-outline">Estamos dedicados a fornecer a melhor experiência possível aos nossos clientes, garantindo que suas necessidades de transporte e logística sejam atendidas de forma eficiente e eficaz.</p>
        </div>